.main-banner {
    background-color: #5fa9e6; /* 메인 배너 배경 색상 */
    color: white;
    text-align: center;
    padding: 100px 20px; /* padding은 유지하되 margin은 없앰 */
}

.main-banner h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.emotion-input {
    margin-top: 20px;
}

.emotion-input button {
    margin-top: 50px;
    background-color: #1c7ed6; /* 버튼 배경 색상 */
    color: white; /* 버튼 글씨 색상 */
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.7em;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s; /* transform과 box-shadow 추가 */
    width: 300px;
    height: 100px;
    font-weight: bold;
}

/* hover 상태 */
.emotion-input button:hover {
    background-color: #155a9d; /* hover 시 배경 색상 */
    transform: translateY(-2px); /* 약간 위로 올라가는 효과 */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}


.footer p {
    margin: 5px 0;
}

.container {
     display: flex; /* 좌우 배치 */
 }

.map {
    width: 45%; /* 지도의 너비 */
    height: 600px; /* 지도의 높이 */
    margin: 40px; /* 외부 여백 */
}

.restaurant-list {
    width: 50%; /* 음식점 목록의 너비 */
    margin: 40px; /* 외부 여백 */
    display: grid; /* 그리드 형식 */
    grid-template-columns: repeat(1, 1fr); /* 한 개의 열 */
    gap: 20px; /* 아이템 간의 간격 */
}

.restaurant-item {
    background-color: #f9f9f9; /* 아이템 배경색 */
    border: 1px solid #ddd; /* 테두리 */
    border-radius: 5px; /* 모서리 둥글게 */
    padding: 20px; /* 내부 여백 */
    border-radius : 35px;
}

.restaurant-item h3 {
    margin: 0 0 10px 0; /* 제목의 여백 조정 */
}

.restaurant-item p {
    margin: 5px 0; /* 문단의 여백 조정 */
}

.loading-message {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 600px; /* 음식점 목록 영역과 같은 높이로 설정 */
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8); /* 약간 투명한 배경 */
    border-radius: 10px;
    animation: pulse 1.5s infinite; /* 애니메이션 효과 */
}

/* 로딩 텍스트가 천천히 커졌다 작아지는 애니메이션 */
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}