<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="/common/css/body.css">
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<div id="app" v-cloak>
    <div id="header-container"></div>
    <div class="login-container">
        <div class="login-box">
            <div class="login-title">
                <span class="emotion">Emotion</span>&nbsp;
                <span class="hub" style="color:black">Hub</span>
            </div>
            <div class="input-group">
                <label for="userId">아이디</label>
                <input type="text" id="userId" placeholder="아이디" v-model="user.userId">
            </div>
            <div class="input-group">
                <label for="userPassword">비밀번호</label>
                <input type="password" id="userPassword" placeholder="비밀번호" v-model="user.userPassword">
            </div>
            <button class="login-button" @click="login()">로그인</button>
            <div class="social-login">
                <button class="text-[13px] md:text-sm leading-4 bg-naver" @click="naverLogin()">
                    <div class="text-sm sm:text-base me-1.5">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" role="img" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.6 0S0 0 0 1.6v20.8S0 24 1.6 24h20.8s1.6 0 1.6-1.6V1.6S24 0 22.4 0zm3.415 5.6h4.78l4.425 6.458V5.6h4.765v12.8h-4.78L9.78 11.943V18.4H5.015Z"></path>
                        </svg>
                    </div>
                    <span class="flex-1">&nbsp;네이버로 시작하기</span>
                </button>
                <button class="text-[13px] md:text-sm leading-4 bg-kakao" @click="kakaoLogin()">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="text-sm sm:text-base me-1.5" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path d="M12 3c5.799 0 10.5 3.664 10.5 8.185 0 4.52-4.701 8.184-10.5 8.184a13.5 13.5 0 0 1-1.727-.11l-4.408 2.883c-.501.265-.678.236-.472-.413l.892-3.678c-2.88-1.46-4.785-3.99-4.785-6.866C1.5 6.665 6.201 3 12 3zm5.907 8.06l1.47-1.424a.472.472 0 0 0-.656-.678l-1.928 1.866V9.282a.472.472 0 0 0-.944 0v2.557a.471.471 0 0 0 0 .222V13.5a.472.472 0 0 0 .944 0v-1.363l.427-.413 1.428 2.033a.472.472 0 1 0 .773-.543l-1.514-2.155zm-2.958 1.924h-1.46V9.297a.472.472 0 0 0-.943 0v4.159c0 .26.21.472.471.472h1.932a.472.472 0 1 0 0-.944zm-5.857-1.092l.696-1.707.638 1.707H9.092zm2.523.488l.002-.016a.469.469 0 0 0-.127-.32l-1.046-2.8a.69.69 0 0 0-.627-.474.696.696 0 0 0-.653.447l-1.661 4.075a.472.472 0 0 0 .874.357l.33-.813h2.07l.299.8a.472.472 0 1 0 .884-.33l-.345-.926zM8.293 9.302a.472.472 0 0 0-.471-.472H4.577a.472.472 0 1 0 0 .944h1.16v3.736a.472.472 0 0 0 .944 0V9.774h1.14c.261 0 .472-.212.472-.472z"></path>
                        </g>
                    </svg>
                    <span class="flex-1">&nbsp;카카오로 시작하기</span>
                </button>
            </div>
            <div class="footer-links">
                <a href="/join">계정이 없으신가요?</a>
            </div>
        </div>
    </div>
</div>
<script src="/plugins/vueJs/vue.js"></script>
<script type="text/javascript" src="/plugins/axios/axios.min.js"></script>
<script src="/dist/jquery/jquery.js"></script>
<script src="/dist/jquery/jquery.min.js"></script>
<script src="/dist/js/toggles-list-filter.js"></script>
<script src="/dist/js/vueCommon.js"></script>
<script>
    $(function() {
        $('#header-container').load('/common/html/header.html');
    });
</script>
<script>
    new Vue({
        el: '#app',
        data: {
            user : {
                userId : "",
                userPassword : ""
            }
        },
        methods : $.extend({}, vueMethods,{
            login : function () {
                let vm = this;
                let formData = new FormData();
                Object.keys(vm.user).forEach((key) => {
                    if(vm.user[key]==null){
                        formData.append(key, "");
                    }
                    else{
                        formData.append(key, vm.user[key]);
                    }
                })
                axios.post('/account/loginCheck', formData)
                    .then(res => {
                        if( res.data ) {
                            location.href = "/main";
                        } else {
                            alert ("아이디 또는 비밀번호가 일치하지 않습니다.");
                            return false;
                        }
                    })
                    .catch(error => {
                        console.log("로그요청 실패")
                    })
            },
            naverLogin : function () {
                let vm = this;
            },
            kakaoLogin : function () {
                let vm = this;
            }
        }),
        created() {

        },
        mounted() {

        }
    });
</script>
</body>
</html>