<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>날씨정보를 사용한 맛집 추천 사이트</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/common/css/body.css">
    <link rel="stylesheet" href="/common/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<div id="app" v-cloak>
    <div id="header-container"></div>
    <div class="main-banner">
        <h2>날씨에 따른 맛집을 추천해 드립니다!</h2>
        <div class="emotion-input">
            <button class="recommend-Button">맛집 추천 받기</button>
        </div>
    </div>
</div>
<script src="/plugins/vueJs/vue.js"></script>
<script type="text/javascript" src="/plugins/axios/axios.min.js"></script>
<script src="/dist/jquery/jquery.js"></script>
<script src="/dist/jquery/jquery.min.js"></script>
<script src="/dist/js/toggles-list-filter.js"></script>
<script src="/dist/js/vueCommon.js"></script>
<script>
    $(function() {
        $('#header-container').load('/common/html/header.html');
    });
</script>
<script>
    new Vue({
        el: '#app',
        data: {
            user : {
                userName : ""
            },
            isUser : false,
            emotionSelect : ""
        },
        methods : $.extend({}, vueMethods,{

        }),
        created() {

        },
        mounted() {
            this.getUserInfo();
        }
    });
</script>
</body>
</html>