.logo {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: #1c7ed6;
    font-weight: bold;
    transition: transform 0.3s;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.05);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 15px 20px;
    border-bottom: 1px solid #e0e0e0;
}

.navbar {
    flex: 1; /* 전체 너비를 차지 */
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    margin: 0;
    padding: 0;
}

.navbar ul li {
    color: #333;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    width: 120px; /* 부모 항목의 너비 */
    position: relative; /* 부모 요소의 위치 설정 */
    text-align: left;
    padding: 10px 0; /* 항목의 상하 패딩만 설정 */
    margin-left: 30px;
}

/* 드롭다운 메뉴 기본 숨김 */
.navbar ul li ul {
    display: none; /* 기본적으로 드롭다운 숨기기 */
    position: absolute; /* 절대 위치 설정 */
    top: 100%; /* 부모 요소 아래에 위치 */
    left: 0; /* 오른쪽 정렬 */
    background-color: white; /* 드롭다운 배경 색상 */
    border: 1px solid #e0e0e0; /* 테두리 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 */
    z-index: 1000; /* 다른 요소 위에 표시 */
    box-sizing: border-box; /* 테두리 포함 */
    padding: 0; /* 드롭다운 항목의 패딩을 제거 */
}

/* 항목에 마우스 오버 시 드롭다운 표시 */
.navbar ul li:hover > ul {
    display: block; /* 드롭다운 표시 */
    width: auto; /* 드롭다운 너비를 자동으로 설정 */
}

.navbar ul li ul li {
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    text-align: left;
    margin: 0; /* 수직 마진 제거 */
    padding: 0 15px; /* 좌우 패딩 4px 추가 */
    width: 90px;
}

/* 드롭다운 항목 링크 스타일 */
.navbar ul li ul li a {
    font-size: 17px;
    color: black;
    text-decoration: none;
    display: block; /* 링크를 블록으로 만들어 클릭 영역을 넓힘 */
    padding: 10px 0; /* 드롭다운 항목의 상하 패딩만 설정 */
}

/* 드롭다운 항목 호버 시 배경색 변경 */
.navbar ul li ul li:hover {
    background-color: #f0f0f0; /* 드롭다운 항목 호버 시 배경색 */
}
